[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
pyfeats = "*"
tqdm = "*"
matplotlib = "*"
japanize-matplotlib = "*"
jupyterlab = "*"
scipy = "*"
opencv-python = "*"
scikit-learn = "*"
seaborn = "*"
statsmodels = "*"
openpyxl = "*"
pydicom = "*"
imblearn = "*"
lightgbm = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.2"
